@use "../abstract/variable" as var;
@use '../abstract/mixins' as mixins;
.footer {
  background-color: map-get(var.$theme-colors, "primary");
  padding: 4rem 20rem;
  text-align: center;
  @include mixins.responsive(xs){
    padding: 2rem 2rem;
  }
  @include mixins.responsive(sm){
    padding: 2rem 2rem;
  }
 
  h2,
  p
   {
    padding-top: 1.5rem;
    color: #fff;
    @include mixins.responsive(xs){
      padding-top: 1rem;
    }
   
  }
  h2{
    @include mixins.responsive(xs){
      font-size: 1rem;
    }
  }
  p{
    @include mixins.responsive(xs){
      font-size: 0.8rem;
    }
  }
  ul {
    padding-top: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      padding-left: 2rem;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
      @include mixins.responsive(xs){
        font-size: 0.5rem;
        padding-left:0.8rem;
      }
      @include mixins.responsive(sm){
        font-size: 0.8rem;
        padding-left:1rem;
      }
    }
  }
}
