@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.font-ta {
  font-family: "Mukta Malar", sans-serif;
}

.color-anim {
  transition: 500ms;
  animation: color-change 10s infinite;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
.m-1 {
  margin: spacerem !important;
}

.m-2 {
  margin: spacerem !important;
}

.m-3 {
  margin: spacerem !important;
}

.m-4 {
  margin: spacerem !important;
}

.m-5 {
  margin: spacerem !important;
}

.m-6 {
  margin: spacerem !important;
}

.m-7 {
  margin: spacerem !important;
}

.m-8 {
  margin: spacerem !important;
}

.m-9 {
  margin: spacerem !important;
}

.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  line-height: 1.8;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  outline: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .btn {
    padding: 0.3rem 1rem;
    line-height: 1.8;
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 576px) {
  .btn {
    padding: 0.5rem 1rem;
    line-height: 1.8;
    font-size: 0.7rem;
  }
}
.btn-primary {
  background-color: #3f43fd;
  color: #fff;
  transition: 500ms;
}
.btn-primary:hover {
  background-color: #3135e8;
}
.btn-outline {
  color: #3f43fd;
  transition: 500ms;
}
.btn-outline:hover {
  background-color: #3135e8;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20rem;
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
.header--menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .header--menu {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .header--menu {
    display: none;
  }
}
.header--menu--item {
  margin-right: 1.5rem;
  font-size: 14px;
  font-weight: 600;
}
.header--menu--item a {
  transition: 200ms;
  color: #242424;
}
.header--menu--item a:hover {
  color: #3f43fd;
}
.header--menu--item a.active {
  color: #3f43fd;
}

.footer {
  background-color: #3f43fd;
  padding: 4rem 20rem;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .footer {
    padding: 2rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer {
    padding: 2rem 2rem;
  }
}
.footer h2,
.footer p {
  padding-top: 1.5rem;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .footer h2,
.footer p {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .footer h2 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .footer p {
    font-size: 0.8rem;
  }
}
.footer ul {
  padding-top: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer ul li {
  padding-left: 2rem;
  cursor: pointer;
}
.footer ul li:hover {
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .footer ul li {
    font-size: 0.5rem;
    padding-left: 0.8rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer ul li {
    font-size: 0.8rem;
    padding-left: 1rem;
  }
}

.home {
  padding: 8rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .home {
    flex-direction: column;
    padding: 2rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .home {
    flex-direction: column;
    padding: 2rem 2rem;
  }
}
.home--content {
  max-width: 40rem;
}
@media only screen and (max-width: 576px) {
  .home--content--webimg {
    padding-top: 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .home--content--webimg {
    padding-top: 2rem;
  }
}
.home--content--title {
  font-size: 3rem;
}
@media only screen and (max-width: 576px) {
  .home--content--title {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .home--content--title {
    font-size: 1.5rem;
  }
}
.home--content--text {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  color: #b4b2b2;
}
@media only screen and (max-width: 576px) {
  .home--content--text {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 576px) {
  .home--content--text {
    font-size: 1rem;
  }
}
.home--content--btn {
  padding-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
}
@media only screen and (max-width: 576px) {
  .home--content--btn {
    justify-content: center;
  }
}
@media only screen and (min-width: 576px) {
  .home--content--btn {
    justify-content: center;
  }
}
.home--content--btn--lrn-more {
  margin-left: 2rem;
}

.about {
  padding: 8rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f43fd;
}
@media only screen and (max-width: 576px) {
  .about {
    padding: 2rem 2rem;
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .about {
    padding: 2rem 2rem;
    flex-direction: column;
  }
}
.about--img img {
  width: 32rem;
  height: auto;
}
.about--content {
  max-width: 45rem;
}
.about--content--title {
  font-size: 2rem;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .about--content--title {
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .about--content--title {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
  }
}
.about--content--text {
  padding-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.8;
  color: #b4b2b2;
  text-align: justify;
}
@media only screen and (max-width: 576px) {
  .about--content--text {
    font-size: 0.8rem;
    padding-top: 0.4rem;
  }
}
@media only screen and (min-width: 576px) {
  .about--content--text {
    font-size: 1rem;
    padding-top: 0.4rem;
  }
}

.roadmap {
  padding: 8rem 20rem;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .roadmap {
    padding: 2rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap {
    padding: 2rem 2rem;
  }
}
.roadmap--head--text {
  padding-top: 1rem;
  color: #b4b2b2;
}
.roadmap--content {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .roadmap--content {
    padding-top: 1rem;
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--content {
    padding-top: 1rem;
    flex-direction: column;
  }
}
.roadmap--content img {
  width: 160px;
  height: auto;
}
.roadmap--content--block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .roadmap--content--block {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--content--block {
    padding-top: 1.5rem;
  }
}
.roadmap--content--block--text {
  padding-top: 1rem;
}

.courses {
  padding: 8rem 20rem;
  background-color: #3f43fd;
}
@media only screen and (max-width: 576px) {
  .courses {
    padding: 2rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .courses {
    padding: 2rem 2rem;
  }
}
.courses--head {
  text-align: center;
}
.courses--head h2 {
  color: #fff;
}
.courses--head p {
  padding-top: 1rem;
  color: #dfdfdf;
}
.courses--content {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .courses--content {
    padding-top: 1rem;
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .courses--content {
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
.courses--content--card {
  width: 25%;
  border-radius: 1rem;
  background-color: #fff;
}
@media only screen and (max-width: 576px) {
  .courses--content--card {
    width: 100%;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .courses--content--card {
    width: 50%;
    margin-top: 2rem;
  }
}
.courses--content--card img {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0px 0px;
}
.courses--content--card--container {
  padding: 2rem 2rem;
}
.courses--content--card--container--text {
  padding-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.8;
  color: #b4b2b2;
  text-align: justify;
}
.courses--content--card:hover {
  transition: 500ms;
  cursor: pointer;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.contact {
  padding: 8rem 20rem;
  background-color: #e0e0e0;
}
@media only screen and (max-width: 576px) {
  .contact {
    padding: 2rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact {
    padding: 2rem 2rem;
  }
}
.contact--content {
  padding: 2rem 1.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}
@media only screen and (max-width: 576px) {
  .contact--content {
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .contact--content {
    flex-direction: column;
  }
}
.contact--content--form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
@media only screen and (max-width: 576px) {
  .contact--content--form {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .contact--content--form {
    width: 100%;
  }
}
.contact--content--form p {
  padding-top: 1rem;
  font-size: 1rem;
  color: #b4b2b2;
}
.contact--content--form input[type=text] {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 8px;
  border: none;
  outline: none;
}
.contact--content--form textarea {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 8px;
  border: none;
  outline: none;
}
.contact--content--form .send {
  margin-top: 2rem;
}
.contact--content--form input:focus, .contact--content--form textarea:focus {
  border: none;
  outline: none !important;
  border: 1px solid blue;
  box-shadow: 0 0 10px #719ECE;
}

/*# sourceMappingURL=style.css.map */
